<form id='messageForm'>
  <input type='email' class='form-control' id='email' placeholder='Type your email' />
  <input type='text' class='form-control my-2' id='message' placeholder='Type your message here...' />
  <button type='button' class='btn btn-outline-primary w-100' onclick='addMessage(messageForm)'>Send</button>
</form>