<form id='productsForm'>
  <input type='text' class='form-control' id='title' placeholder='Type the title' />
  <br />
  <input type='text' class='form-control' id='price' placeholder='Type the price' />
  <br />
  <input type='text' class='form-control' id='thumbnail' placeholder='Type the thumbnail' />
  <br />
  <button type='button' class='btn btn-outline-primary w-100' onclick='addProduct(productsForm)'>Send</button>
</form>